*,
*::after,
*::before {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.app {
  width: 100%;
  height: calc(100% - 100px - 100px);
  background-color: #e2e2e2;
  overflow: hidden;
}
